rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow reading of configuration and results data
    match /resultats/{document=**} {
      allow read: if true;
      allow write: if false; // Keep write restricted for now
    }
    match /fuel_types/{document=**} {
       allow read: if true;
       allow write: if false;
    }
     match /specifications/{document=**} {
       allow read: if true;
       allow write: if false;
    }
     match /fuel_supplier_map/{document=**} {
       allow read: if true;
       allow write: if false;
    }
     match /stocks/{document=**} {
       allow read: if true;
       allow write: if false;
    }
     match /fuel_costs/{document=**} {
       allow read: if true;
       allow write: if false;
    }

    // Allow writing and reading of mixture sessions
    match /sessions_melange/{sessionId} {
      allow read, write: if true; // Allow saving and reading sessions
    }

    // Default rule: deny all reads and writes to other collections
    match /{path=**} {
      allow read, write: if false;
    }
  }
}
