
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow read and write access to results
    match /resultats/{resultatId} {
      allow read: if true;
      allow write: if true;
    }
    
    match /fuel_types/{fuelId} {
        allow read: if true;
        allow write: if true;
    }

    match /fuel_supplier_map/{fuelName} {
        allow read: if true;
        allow write: if true; 
    }

    match /specifications/{specId} {
        allow read: if true;
        allow write: if true;
    }
    
    match /stocks/{stockId} {
        allow read: if true;
        allow write: if true;
    }

    match /arrivages/{arrivageId} {
        allow read: if true;
        allow write: if true;
    }

    match /sessions_melange/{sessionId} {
      allow read: if true;
      allow write: if true;
    }

    match /fuel_costs/{costId} {
      allow read: if true;
      allow write: if true;
    }

    // Default deny all other collections/documents
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
